In [1]:
bool(34)

True

In [2]:
9/5

1.8

In [3]:
divmod(9, 5)

(1, 4)

In [5]:
float(5e0)

5.0

In [6]:
float(5e1)

50.0

In [1]:
a = ('apple',)
b = ('watermellon', 'banana')
a + b

('apple', 'watermellon', 'banana')

In [7]:
a = ('apple',)
b = ('watermellon', 'banana')
a = a + b
a

TypeError: 'tuple' object doesn't support item deletion

In [4]:
a = ['apple']
b = ['watermellon', 'banana']
a = a + b
a

['apple', 'watermellon', 'banana']

In [9]:
empty_tuple = ()
empty_tuple

()

In [11]:
fruit = ('apple',)
type(fruit)

tuple

In [13]:
fruits = ('apple', 'watermellon', 'banana')
fruits

('apple', 'watermellon', 'banana')

In [23]:
fruits_list = ['apple', 'watermelon', 'banana']
furits_tuple = tuple(fruits_list)
furits_tuple
f = list(furits_tuple)
f
a, b, c = furits_tuple
str(a)

'apple'

In [22]:
fruits = ('apple', 'watermelon', 'banana')
a, b, c = fruits
a
b
c

'banana'

In [24]:
('apple',) + ('watermelon', 'banana')

('apple', 'watermelon', 'banana')

In [30]:
a = ('apple', )
b = ('watermelon', 'banana')
a * 3 + b * 2

('apple', 'apple', 'apple', 'watermelon', 'banana', 'watermelon', 'banana')

In [27]:
('apple', ) * 3 + ('watermelon', 'banana') * 2

('apple', 'apple', 'apple', 'watermelon', 'banana', 'watermelon', 'banana')

In [32]:
fruits = ('apple', 'watermellon', 'banana')
for furit in fruits:
    print(furit)

apple
watermellon
banana

## 海象

In [2]:
tweet_limit = 280
tweet_string = "Blah" * 50
diff = tweet_limit - len(tweet_string)
if diff >= 0:
    print("A fitting tweet")
else:
    print("Went over by", abs(diff))

A fitting tweet

In [4]:
tweet_limit = 280
tweet_string = "Blah" * 50
if diff := tweet_limit - len(tweet_string) >= 0:
    print("A fitting tweet")
else:
    print("Went over by", abs(diff))

A fitting tweet

In [25]:

vowels = "aeiou"
letter = input("enter a letter: \n")
if letter in vowels:
    print(letter, "is a vowel")
else:
    print(letter, "is not a vowel")

i is a vowel

In [30]:
vowels = "aeiou"
# letter = input("enter a letter: \n")
if letter := input("enter a letter: \n") in vowels:
    print(letter, "is a vowel")
else:
    print(letter, "is not a vowel")

True is a vowel

In [1]:
empty_list = []
empty_list

[]

In [2]:
desert = ['cookie', 'cake', 'chocolate']
desert

['cookie', 'cake', 'chocolate']

In [3]:
empty_list = list()
empty_list

[]

In [4]:
a_tuple = ('a', 'b', 'c')
list(a_tuple)

['a', 'b', 'c']

In [6]:
list('apple')

['a', 'p', 'p', 'l', 'e']

In [7]:
date = '19/11/2021'
date.split('/')

['19', '11', '2021']

In [12]:
def hello_name(name):
    return 'Hello ' + name + '!'

hello_name('Bob')

'Hello Bob!'

In [14]:
def first_two(str):
  return str[:2] 
  
first_two('H')

'H'

In [17]:
def first_two(str):
  if len(str) >= 2:
    return str[:2]
  else:
    return str
    
first_two('Hello') 
first_two('')

''

In [18]:
def monkey_trouble(a_smile, b_smile):
  if not a_smile and not b_smile:
    return True
  elif a_smile and b_smile:
    return True
  else:
    return False
monkey_trouble(True, True)

SyntaxError: invalid syntax (<ipython-input-18-3e01365f320c>, line 4)

In [26]:
def not_string(str):
  if len(str) <= 3 and str[:3] == 'not':
    return str
  else:
    return "not " + str
not_string('not ') 
# len('not ')

'not not '